
/* ----- VARIÁVEIS ----- */
:root {
    --glass-bg-light: rgba(220, 183, 183, 0.576); 

    --gradient-bg-light: linear-gradient(150deg, rgb(253, 252, 252), 
                                                 rgb(255, 201, 210), 
                                                 rgb(188, 143, 143));
    
    --shadow-box-light: 0 0 5px rgba(255, 255, 255, 0.757), 
                        0 0 5px rgb(248, 195, 204);
    
    --text-shadow: 0 0 2px rgb(127, 9, 54), 
                   0 0 3px rgb(195, 75, 105);

    --shadow-transition-light: 0 0 2px white, 
                               0 0 5px pink, 
                               0 0 10px rgb(195, 75, 105);
}

/* ----- CORPO ----- */
body.light-mode {
    background: var(--gradient-bg-light);
    color: var(--main-color);
}


/* NAV (Barra de Navegação e Botão de Tema) */
/* Fundo e Borda do Menu */
body.light-mode .nav-custom {
    background-color: var(--glass-bg-light);
    backdrop-filter: blur(10px);
    border: 1px solid pink; 
    box-shadow: var(--shadow-box-light); 
}

/* Logo */
body.light-mode .navbar-brand {
    color: var(--main-color);
}

body.light-mode .navbar-brand .text-highlight {
    color: white;
    text-shadow: var(--text-shaow);
}

/* Links do Menu */
body.light-mode .nav-link {
    color: white;
    text-shadow: var(--text-shaow);
    transition: all 0.3s ease;
}

body.light-mode .nav-link:hover {
    transform: scale(1.15);
}

/* Botão de Tema */
body.light-mode .btn-theme {
    border-color: var(--main-color);
    box-shadow: 0 0 5px var(--main-color), 
                inset 0 0 5px var(--main-color);
}

body.light-mode .btn-theme:hover {
    box-shadow: 0 0 20px var(--main-color);
}

body.light-mode .btn-theme i {
    color: var(--main-color);
}


/* ----- HOME ----- */
/* Títulos e Parágrafos */
body.light-mode .home-content h1 {
    color: var(--main-color);
}

body.light-mode .home-content h3,
body.light-mode .home-content p {
    color: rgb(127, 9, 54);
}

/* Botão CV */
body.light-mode .btn-custom {
    background-color: var(--main-color);
    color: white;
    text-decoration: none;
    border-radius: 25px;
    font-weight: bold;
    transition: all 0.5s ease; 
    box-shadow: var(--shadow-box-light);
}

body.light-mode .btn-custom:hover {
    transform: scale(1.1); 
    box-shadow: var(--shadow-transition-light); 
}

/* Redes Sociais */
body.light-mode .social-media a i {
    color: var(--main-color);
    transition: all 0.8s ease; 
}

body.light-mode .social-media a i:hover {
    transform: scale(1.2);
    text-shadow: var(--shadow-transition-light);
    background-color: transparent;
}


/* ----- SKILLS ----- */
/* Estrutura do Card */
body.light-mode .skill-card {
    background-color: var(--main-color);
    backdrop-filter: blur(10px);
    border: 1px solid white; 
    box-shadow: var(--shadow-box-light); 
    transition: all 0.5s ease;
}

body.light-mode .skill-card:hover {
    transform: translateY(-10px);
    border: solid 2px white;
    box-shadow: var(--shadow-transition-light);
}

/* Títulos da Seção */
body.light-mode .skills h2 {
    color: rgb(127, 9, 54);
}

/* Conteúdo do Card */
body.light-mode .skill-card h3,
body.light-mode .skills i, 
body.light-mode .skill-card p {
    color: white;
    text-shadow: var(--text-shadow);
}


 /* ----- CONTATO -----  */
body.light-mode #contact {
    background-color: var(--main-color); 
    border: 1px solid pink; 
    box-shadow: var(--shadow-box-light); 
}
