* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: darkslategrey;
    color: white;
}

.home {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 80px 10%;
    flex-wrap: wrap;
}

.home-content {
    max-width: 600px;
}

.home-content h1 {
    font-size: 30px; /*ou 1rem*/
    color: white;
    margin-bottom: 8px; /*ou 0.5rem*/
}

.home-content h3 {
    font-size: 20px; /*ou 1.5rem*/
    color: lightgreen;
    margin-bottom: 20px;
}

.home-content p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
}

.social-media {
    display: flex;
    gap: 15px;
    margin-bottom: 30px;
}

.social-media a {
    font-size: 32px;
    color: white;
    transition: color 0.5s ease;
}

.social-media a:hover {
    color: green
}

.btn {
    display: inline-block;
    padding: 12px 25px;
    background-color: darkolivegreen;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    font-weight: bold;
    transition: background-color 0.5s ease;
}

.btn:hover {
    background-color: lime;
}

.home-img {
    max-width: 400px;
    flex: 1;
    display: flex;
    justify-content: center;
}

.home-img img {
    width: 100%;
    border-radius: 10px;
    box-shadow:  0px 25px black;
}

@media (max-width: 900px) {
    .home {
        flex-direction: column-reverse;
        padding: 50px 5%;
        text-align: center;
    }

    .home-content {
        justify-content: center;
    }

    .social-media {
        justify-content: center;
    }

    .home-img {
        margin-bottom: 30px;
    }
}